
*{
  font-family: Roboto, Arial;
}

.thumbnail{
  width: 100%;
}

.video-title {
  margin-top: 0px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
}

.video-link{
  text-decoration: none;
}

.video-info-grid{
  display: grid;
  grid-template-columns: 50px 1fr;
}

.profile{
  height: 40px;
}

.profile .profile-card{
  display: inline-block;
  position: relative;
}

.profile-picture{
  width: 36px;
  border-radius: 50px;
}

.profile:hover .profile-card{
  opacity: 1;
}


.profile .profile-card{
  display: flex;
  position:absolute;
  border-style: none;
  background-color: white;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  height: 90px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 500;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.card-picture{
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 15px;
}

.card-info{
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 70px;
  margin-left: 15px;
  justify-content: center;
}

.card-owner{
  font-weight: bold;
}

.card-stats{
  color: gray;
}

.thumbnail-row {
  margin-bottom: 8px;
  position: relative;
}

.video-author,
.video-stats {
  font-size: 12px;
  color: rgb(75, 75, 75);
}

.video-author{
  margin-bottom: 4px;
}

.video-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

.video-time {
  font-size: 12px;
  font-weight: 500;
  padding: 4px;
  border-radius: 2px;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 8px;
  right: 5px;
}